---
layout: layouts/assignment.njk
title: დავალება 15 - video
---

{% include 'partials/assignment-15-nav.njk' %}

<video controls height="720">
	<source src="/static/videos/swingrowers.mp4">
</video>
