---
layout: layouts/assignment.njk
---

<nav>
	<ul>
		<li><a href="/assignments/11/">Home</a></li>
		<li><a href="/assignments/11/about-us/">About Us</a></li>
		<li><a href="/assignments/11/contact/">Contact</a></li>
	</ul>
</nav>

{{ content | safe }}
