---
layout: layouts/assignment.njk
tags: assignment
styles:
  - /styles/assignment-17.css
title: დავალება 17
---

<div class="header">
	<h1>Albert Einstein</h1>

	<span class="formula"><i>(E=mc<sup>2</sup>)</i></span>

	<figure>
		<img src="/static/images/albert-einstein.jpg" alt="Albert Einstein" height="300">
		<figcaption>Physicist, Scientist (1879-1955)</figcaption>
	</figure>
</div>

<h2>10 Things You Didn't Know About Albert Einstein:</h2>

<ul>
	<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quae porro placeat inventore quaerat neque magni reprehenderit optio, deserunt aperiam.</li>
	<li>Voluptas maxime voluptate molestiae accusamus ratione aspernatur enim distinctio quasi, tenetur debitis. Ea pariatur officia eveniet adipisci iste, quia illo.</li>
	<li>Aspernatur earum perspiciatis dolore, enim inventore blanditiis? Rerum facilis explicabo saepe voluptatum harum, temporibus quod alias, perspiciatis, deserunt molestiae deleniti?</li>
	<li>Repellat, repellendus, ut aliquam temporibus pariatur tenetur cumque quidem similique excepturi dolor aperiam nostrum? Libero sit sint repellendus est accusantium.</li>
	<li>Sunt aut ipsa expedita. Fugit, possimus. Cum, laudantium voluptatibus, repellendus, eius doloribus voluptates placeat officia facere pariatur et fuga consequuntur.</li>
	<li>Molestiae, consectetur odit alias accusamus dignissimos debitis labore facilis aperiam veniam voluptatum impedit eius tenetur laudantium quibusdam officia ducimus quos!</li>
	<li>Commodi, nobis ea! Exercitationem iusto suscipit eum hic. Molestias totam veritatis fugiat. Optio dicta sint rem perferendis similique, ipsum labore?</li>
	<li>Recusandae tempora accusamus exercitationem repellendus, odio doloremque? Atque distinctio, unde consectetur quidem qui, excepturi fugit officiis dolore possimus quam doloremque!</li>
	<li>Nulla repellat veritatis alias corporis cumque ad quas laborum, sunt iste excepturi deserunt eius in autem, praesentium facilis labore temporibus?</li>
	<li>Culpa aliquam mollitia illum, voluptatibus alias beatae magnam quos reprehenderit. Nisi voluptatum sequi iure autem animi similique qui adipisci blanditiis!</li>
</ul>

<q>The important thing is not to stop questioning. Curiosity has its own reason for existing.</q>
<p>&mdash; Albert Einstein</p>

<p class="read-more">
	If you have time, you should read more about this incredible human being on his <a href="https://en.wikipedia.org/wiki/Albert_Einstein">Wikipedia entry</a>.
</p>
