---
layout: layouts/assignment.njk
tags: assignment
styles:
  - /styles/assignment-26.css
title: დავალება 26
---

<main>
	<form>
		<input type="text" placeholder="username">
		<input type="password" placeholder="password">
		<input type="submit" value="Login">
		<span>Not registered? <a href="#">Create an account</a></span>
	</form>
</main>
