---
layout: layouts/assignment.njk
tags: assignment
styles:
- /styles/assignment-29.css
title: დავალება 29
---

<header>
	<h1><img class="logo" src="/static/images/original-trombones-logo.png" alt="Original Trombones Logo" height="50">
	</h1>
	<form action="/search" method="get">
		<label for="search-input">Search for home-made masterpieces</label>
		<input id="search-input" type="text" name="search">
		<input type="submit" value="search">
	</form>

	<ul>
		<li><a href="#">Features</a></li>
		<li><a href="#">How It Works</a></li>
		<li><a href="#">Pricing</a></li>
	</ul>
</header>

<main>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/cGY6M59IiS0?si=ybqOLq2BS6XHyvyg"
		title="YouTube video player" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

	<p class="content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, numquam explicabo? Quae ipsa
		rerum ut odio adipisci, quasi possimus tempore neque aspernatur excepturi animi a, facere odit dignissimos
		repudiandae laudantium labore necessitatibus! Ea numquam perferendis officiis doloribus amet voluptatem
		exercitationem, magni optio vero blanditiis culpa, id odit unde placeat quas et ipsum earum ducimus deserunt?
		Voluptates reprehenderit, voluptas minus nostrum velit, fugit quasi ullam vitae ipsam esse dolorem expedita
		omnis ea nemo in possimus quas incidunt, est sunt sapiente ipsum voluptatum ex harum? Nemo laborum harum
		consectetur provident vitae! Numquam accusamus corrupti illum nam omnis rem quas impedit cupiditate
		necessitatibus.</p>
	<h2>გამოგვიგზავნეთ შეტყობინება</h2>
	<form>
		<label for="full-name-input">სახელი, გვარი</label>
		<input id="full-name-input" type="text">

		<label for="email-input">ელ-ფოსტა</label>
		<input id="email-input" type="email">

		<label for="purpose-input">დანიშნულება</label>
		<input id="purpose-input" type="text">

		<label for="message-input">შეტყობინება</label>
		<textarea id="message-input" rows="5"></textarea>

		<input type="submit" value="შეტყობინების გაგზავნა">
	</form>
</main>

<footer>
	<p>&copy; Made By Alexei Mozaidze</p>
</footer>
