---
layout: layouts/assignment.njk
tags: assignment
styles:
- /styles/assignment-34.css
title: დავალება 34
---

<main>
	<article>
		<div class="title-wrapper">
			<h1 class="title">Parallax Scrolling</h1>
			<h2 class="sub-title">With a Little Bit of JQuery</h2>
		</div>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae quo a sequi esse odio? Quisquam quos
			reiciendis nesciunt iusto quidem, quo deserunt odit deleniti recusandae eum et reprehenderit accusamus tempora
			at voluptatibus voluptates tempore cumque, dicta placeat, perspiciatis sunt. Corrupti, cupiditate minima
			provident dignissimos consequatur amet suscipit tempore labore, voluptatibus assumenda reiciendis doloremque
			iusto. Sunt eligendi at ab velit laborum amet ipsum modi quae nemo neque officia fugit explicabo, illo totam,
			sint id. Recusandae pariatur vero atque officia aspernatur architecto unde quo, quos in assumenda blanditiis
			expedita veritatis doloremque sequi tempora fugiat impedit dolorum illo quis tempore dicta voluptatibus eos quam
			facilis. At assumenda nostrum quaerat ducimus corrupti officiis minima tempora rerum totam accusamus nobis, nemo
			fugit omnis sequi quae est earum qui? Adipisci mollitia magni sequi minus neque explicabo cumque nesciunt harum,
			nulla dolorum fugiat nostrum temporibus commodi debitis, non ex. Molestiae est eveniet odit harum incidunt
			pariatur perspiciatis quia, minima nihil, id magni officiis voluptatem illum possimus, molestias beatae
			blanditiis? Alias velit magni itaque voluptates ab, quis enim error. Nesciunt quam dolore, obcaecati molestiae
			vel deserunt cum iure ex hic ipsam quisquam enim, accusamus omnis sit a facere officiis reprehenderit, suscipit
			itaque! Alias sequi repellendus eligendi earum labore?</p>
		<p>Molestias iusto libero maxime esse fugit ad tempore doloremque aut, in nam possimus sed. Maxime beatae suscipit
			exercitationem velit voluptates laborum ab adipisci excepturi veritatis a consequuntur quod necessitatibus,
			voluptatum quibusdam, quam qui nihil deserunt rem natus amet vero sint inventore pariatur. Suscipit voluptate
			eligendi doloremque nostrum assumenda odio, dolor, quaerat aut sed placeat modi laborum expedita voluptatum quod
			debitis iusto architecto praesentium necessitatibus tempora neque in deserunt omnis! Accusantium corrupti maxime
			veniam id. Officia nostrum quibusdam optio corrupti, ipsum incidunt autem at sunt, nulla repellendus mollitia
			facere repellat! Perspiciatis perferendis voluptates aut quos odio voluptatem quibusdam voluptatibus
			exercitationem ex vero, qui cupiditate et fugiat? Sequi, sapiente perferendis perspiciatis, id provident at
			temporibus natus recusandae magni pariatur vero, tempore nisi. Voluptatum dicta perspiciatis est? Asperiores
			illo voluptatem odio expedita ipsam porro repellendus, officia voluptatibus earum voluptatum cumque accusantium
			nulla quos vero similique autem reprehenderit natus eveniet sunt molestias molestiae. Inventore delectus eos
			aliquam distinctio dolorem qui, odit, minus ut repellat corporis animi dolorum voluptates facere blanditiis
			molestias consequatur quasi a non tempore odio necessitatibus voluptate neque voluptas. Quibusdam iure assumenda
			consectetur distinctio provident incidunt vel perferendis quam ipsa! Dolor id rem illum suscipit animi quisquam
			officiis voluptate reprehenderit facere temporibus!</p>
		<p>Dicta quo adipisci nam veritatis et consequuntur, sed illum officiis neque asperiores deserunt repudiandae
			explicabo animi, vero voluptas nesciunt eaque atque sapiente quia quisquam repellendus recusandae pariatur.
			Cumque quia vitae sunt modi id repellat doloremque nostrum quae temporibus dolorem eum quam sed aut officia
			iusto placeat inventore culpa, iste aliquid. Possimus sunt voluptate odit ducimus voluptatibus facilis dolore
			aspernatur fugit! Error voluptates amet suscipit tempora natus modi nesciunt adipisci, unde quidem, recusandae
			minima quasi. Ab, nobis recusandae eum mollitia, a veniam corrupti sed quisquam ducimus repellendus ullam
			voluptatibus modi libero dolores! Repellendus repudiandae et ducimus perspiciatis incidunt saepe animi, id
			adipisci nostrum error labore nihil voluptas totam recusandae deserunt, quod ipsam ab impedit dolorum? Quibusdam
			velit ullam, recusandae eos vel, labore optio maiores quasi sint sed aliquam illum perspiciatis facere?
			Reprehenderit natus veritatis reiciendis placeat itaque quibusdam accusantium sequi, aperiam minima cupiditate
			eveniet nemo dolorum ea voluptates suscipit doloremque ratione eligendi esse minus! Autem accusantium, alias
			minus repellendus dolor dignissimos blanditiis eos voluptate sapiente tempore incidunt non harum hic error
			quaerat explicabo architecto, molestiae possimus. In voluptatem laboriosam aliquid voluptatibus esse eum ad
			accusantium non laborum perspiciatis mollitia, harum veniam at ipsum blanditiis id nobis obcaecati quod debitis
			quas cupiditate?</p>
	</article>

	<article>
		<div class="title-wrapper">
			<h1 class="title">Another Title</h1>
			<h2 class="sub-title">With Just Another Subtitle</h2>
		</div>
		<p>Molestias iusto libero maxime esse fugit ad tempore doloremque aut, in nam possimus sed. Maxime beatae suscipit
			exercitationem velit voluptates laborum ab adipisci excepturi veritatis a consequuntur quod necessitatibus,
			voluptatum quibusdam, quam qui nihil deserunt rem natus amet vero sint inventore pariatur. Suscipit voluptate
			eligendi doloremque nostrum assumenda odio, dolor, quaerat aut sed placeat modi laborum expedita voluptatum quod
			debitis iusto architecto praesentium necessitatibus tempora neque in deserunt omnis! Accusantium corrupti maxime
			veniam id. Officia nostrum quibusdam optio corrupti, ipsum incidunt autem at sunt, nulla repellendus mollitia
			facere repellat! Perspiciatis perferendis voluptates aut quos odio voluptatem quibusdam voluptatibus
			exercitationem ex vero, qui cupiditate et fugiat? Sequi, sapiente perferendis perspiciatis, id provident at
			temporibus natus recusandae magni pariatur vero, tempore nisi. Voluptatum dicta perspiciatis est? Asperiores
			illo voluptatem odio expedita ipsam porro repellendus, officia voluptatibus earum voluptatum cumque accusantium
			nulla quos vero similique autem reprehenderit natus eveniet sunt molestias molestiae. Inventore delectus eos
			aliquam distinctio dolorem qui, odit, minus ut repellat corporis animi dolorum voluptates facere blanditiis
			molestias consequatur quasi a non tempore odio necessitatibus voluptate neque voluptas. Quibusdam iure assumenda
			consectetur distinctio provident incidunt vel perferendis quam ipsa! Dolor id rem illum suscipit animi quisquam
			officiis voluptate reprehenderit facere temporibus!</p>
		<p>Dicta quo adipisci nam veritatis et consequuntur, sed illum officiis neque asperiores deserunt repudiandae
			explicabo animi, vero voluptas nesciunt eaque atque sapiente quia quisquam repellendus recusandae pariatur.
			Cumque quia vitae sunt modi id repellat doloremque nostrum quae temporibus dolorem eum quam sed aut officia
			iusto placeat inventore culpa, iste aliquid. Possimus sunt voluptate odit ducimus voluptatibus facilis dolore
			aspernatur fugit! Error voluptates amet suscipit tempora natus modi nesciunt adipisci, unde quidem, recusandae
			minima quasi. Ab, nobis recusandae eum mollitia, a veniam corrupti sed quisquam ducimus repellendus ullam
			voluptatibus modi libero dolores! Repellendus repudiandae et ducimus perspiciatis incidunt saepe animi, id
			adipisci nostrum error labore nihil voluptas totam recusandae deserunt, quod ipsam ab impedit dolorum? Quibusdam
			velit ullam, recusandae eos vel, labore optio maiores quasi sint sed aliquam illum perspiciatis facere?
			Reprehenderit natus veritatis reiciendis placeat itaque quibusdam accusantium sequi, aperiam minima cupiditate
			eveniet nemo dolorum ea voluptates suscipit doloremque ratione eligendi esse minus! Autem accusantium, alias
			minus repellendus dolor dignissimos blanditiis eos voluptate sapiente tempore incidunt non harum hic error
			quaerat explicabo architecto, molestiae possimus. In voluptatem laboriosam aliquid voluptatibus esse eum ad
			accusantium non laborum perspiciatis mollitia, harum veniam at ipsum blanditiis id nobis obcaecati quod debitis
			quas cupiditate?</p>
	</article>

	<article>
		<div class="title-wrapper">
			<h1 class="title">Again Another Title</h1>
			<h2 class="sub-title">And Again Another Subtitle</h2>
		</div>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae quo a sequi esse odio? Quisquam quos
			reiciendis nesciunt iusto quidem, quo deserunt odit deleniti recusandae eum et reprehenderit accusamus tempora
			at voluptatibus voluptates tempore cumque, dicta placeat, perspiciatis sunt. Corrupti, cupiditate minima
			provident dignissimos consequatur amet suscipit tempore labore, voluptatibus assumenda reiciendis doloremque
			iusto. Sunt eligendi at ab velit laborum amet ipsum modi quae nemo neque officia fugit explicabo, illo totam,
			sint id. Recusandae pariatur vero atque officia aspernatur architecto unde quo, quos in assumenda blanditiis
			expedita veritatis doloremque sequi tempora fugiat impedit dolorum illo quis tempore dicta voluptatibus eos quam
			facilis. At assumenda nostrum quaerat ducimus corrupti officiis minima tempora rerum totam accusamus nobis, nemo
			fugit omnis sequi quae est earum qui? Adipisci mollitia magni sequi minus neque explicabo cumque nesciunt harum,
			nulla dolorum fugiat nostrum temporibus commodi debitis, non ex. Molestiae est eveniet odit harum incidunt
			pariatur perspiciatis quia, minima nihil, id magni officiis voluptatem illum possimus, molestias beatae
			blanditiis? Alias velit magni itaque voluptates ab, quis enim error. Nesciunt quam dolore, obcaecati molestiae
			vel deserunt cum iure ex hic ipsam quisquam enim, accusamus omnis sit a facere officiis reprehenderit, suscipit
			itaque! Alias sequi repellendus eligendi earum labore?</p>
		<p>Molestias iusto libero maxime esse fugit ad tempore doloremque aut, in nam possimus sed. Maxime beatae suscipit
			exercitationem velit voluptates laborum ab adipisci excepturi veritatis a consequuntur quod necessitatibus,
			voluptatum quibusdam, quam qui nihil deserunt rem natus amet vero sint inventore pariatur. Suscipit voluptate
			eligendi doloremque nostrum assumenda odio, dolor, quaerat aut sed placeat modi laborum expedita voluptatum quod
			debitis iusto architecto praesentium necessitatibus tempora neque in deserunt omnis! Accusantium corrupti maxime
			veniam id. Officia nostrum quibusdam optio corrupti, ipsum incidunt autem at sunt, nulla repellendus mollitia
			facere repellat! Perspiciatis perferendis voluptates aut quos odio voluptatem quibusdam voluptatibus
			exercitationem ex vero, qui cupiditate et fugiat? Sequi, sapiente perferendis perspiciatis, id provident at
			temporibus natus recusandae magni pariatur vero, tempore nisi. Voluptatum dicta perspiciatis est? Asperiores
			illo voluptatem odio expedita ipsam porro repellendus, officia voluptatibus earum voluptatum cumque accusantium
			nulla quos vero similique autem reprehenderit natus eveniet sunt molestias molestiae. Inventore delectus eos
			aliquam distinctio dolorem qui, odit, minus ut repellat corporis animi dolorum voluptates facere blanditiis
			molestias consequatur quasi a non tempore odio necessitatibus voluptate neque voluptas. Quibusdam iure assumenda
			consectetur distinctio provident incidunt vel perferendis quam ipsa! Dolor id rem illum suscipit animi quisquam
			officiis voluptate reprehenderit facere temporibus!</p>
		<p>Dicta quo adipisci nam veritatis et consequuntur, sed illum officiis neque asperiores deserunt repudiandae
			explicabo animi, vero voluptas nesciunt eaque atque sapiente quia quisquam repellendus recusandae pariatur.
			Cumque quia vitae sunt modi id repellat doloremque nostrum quae temporibus dolorem eum quam sed aut officia
			iusto placeat inventore culpa, iste aliquid. Possimus sunt voluptate odit ducimus voluptatibus facilis dolore
			aspernatur fugit! Error voluptates amet suscipit tempora natus modi nesciunt adipisci, unde quidem, recusandae
			minima quasi. Ab, nobis recusandae eum mollitia, a veniam corrupti sed quisquam ducimus repellendus ullam
			voluptatibus modi libero dolores! Repellendus repudiandae et ducimus perspiciatis incidunt saepe animi, id
			adipisci nostrum error labore nihil voluptas totam recusandae deserunt, quod ipsam ab impedit dolorum? Quibusdam
			velit ullam, recusandae eos vel, labore optio maiores quasi sint sed aliquam illum perspiciatis facere?
			Reprehenderit natus veritatis reiciendis placeat itaque quibusdam accusantium sequi, aperiam minima cupiditate
			eveniet nemo dolorum ea voluptates suscipit doloremque ratione eligendi esse minus! Autem accusantium, alias
			minus repellendus dolor dignissimos blanditiis eos voluptate sapiente tempore incidunt non harum hic error
			quaerat explicabo architecto, molestiae possimus. In voluptatem laboriosam aliquid voluptatibus esse eum ad
			accusantium non laborum perspiciatis mollitia, harum veniam at ipsum blanditiis id nobis obcaecati quod debitis
			quas cupiditate?</p>
	</article>
</main>
