---
layout: layouts/assignment.njk
tags: assignment
styles:
- /styles/assignment-36.css
assignment-id: 36
title: დავალება 36
---

<main>
	<div>
		<h1>Your Title Here</h1>
		<p>A Fully Responsive Gallery Template</p>
		<button>Continue</button>
	</div>
</main>
