---
layout: layouts/assignment.njk
tags: assignment
styles:
- /styles/assignment-37.css
title: დავალება 37
---


<main>
	<div class="hero-card">
		<h1>Welcome To The Beach</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quas expedita corporis iure dolorem
			veritatis.
		</p>
		<a class="read-more" href="#">Read More</a>
	</div>
	<article>
		<section>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore porro nam beatae sed aliquid dolor
				dolorum eius
				minima accusantium perferendis sapiente quae, earum dolore iusto odio aperiam quam ab? Obcaecati vero
				officiis
				est, excepturi, autem ipsam magni alias voluptates totam sed veritatis distinctio nostrum. Quidem,
				veniam.
				Assumenda debitis officiis beatae voluptatibus ratione magni aspernatur voluptatum, magnam repellendus
				modi
				aperiam illum eveniet corporis nemo officia sapiente aliquid maiores obcaecati architecto qui deleniti
				tenetur
				animi nihil molestias. Consectetur neque accusamus, laboriosam ut dolor at quidem laudantium praesentium
				quod
				consequatur repudiandae fuga numquam alias fugiat nemo nesciunt cupiditate culpa quibusdam hic repellat
				autem.
			</p>
		</section>
		<section>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore porro nam beatae sed aliquid dolor
				dolorum eius
				minima accusantium perferendis sapiente quae, earum dolore iusto odio aperiam quam ab? Obcaecati vero
				officiis
				est, excepturi, autem ipsam magni alias voluptates totam sed veritatis distinctio nostrum. Quidem,
				veniam.
				Assumenda debitis officiis beatae voluptatibus ratione magni aspernatur voluptatum, magnam repellendus
				modi
				aperiam illum eveniet corporis nemo officia sapiente aliquid maiores obcaecati architecto qui deleniti
				tenetur
				animi nihil molestias. Consectetur neque accusamus, laboriosam ut dolor at quidem laudantium praesentium
				quod
				consequatur repudiandae fuga numquam alias fugiat nemo nesciunt cupiditate culpa quibusdam hic repellat
				autem.
			</p>
		</section>
		<section>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit saepe hic molestiae labore pariatur
				ipsa
				nostrum animi, ipsam facilis deserunt?</p>
		</section>
		<section>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit saepe hic molestiae labore pariatur
				ipsa
				nostrum animi, ipsam facilis deserunt?</p>
		</section>
		<section>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit saepe hic molestiae labore pariatur
				ipsa
				nostrum animi, ipsam facilis deserunt?</p>
		</section>
	</article>
</main>
