---
layout: layouts/assignment.njk
tags: assignment
styles:
- /styles/assignment-40.css
assignment-id: 40
title: დავალება 40
---


<div id="page-wrapper">
	<header>
		<h1 class="logo">Styles<br />Conference</h1>
		<div class="navigation-with-info">
			<span class="info">August 24-26th - Chicago, IL</span>
			<nav class="navigation">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Speakers</a></li>
					<li><a href="#">Schedule</a></li>
					<li><a href="#">Venue</a></li>
					<li><a href="#">Register</a></li>
				</ul>
			</nav>
		</div>
		<section>
			<h2>Dedicated to the Craft of Building Websites</h2>
			<p>Every year the brightest web designers and front-end developers ascend on Chicago to discuss the latest tech
				logies. Join us this August!</p>
			<a class="register" href="#">Register Now</a>
		</section>
	</header>

	<main>
		<article>
			<h3>Speakers</h3>
			<img width="200" src="/static/images/woman.jpg" alt="Woman giving a speech">
			<h2>World-Class Speakers</h2>
			<p>Joining us from all around the world are over twenty fantastic speakers, here to share their stories.</p>
		</article>
		<article>
			<h3>Schedule</h3>
			<img width="200" src="/static/images/bored-people.jpg" alt="People listening to very inspiring lecture (they're bored LMAO)">
			<h2>Three Inspiring Days</h2>
			<p>Enjoy three inspiring action-packed days of tals, gatherings, and all-around good times.</p>
		</article>
		<article>
			<h3>Venue</h3>
			<img width="200" src="/static/images/debt-as-a-service.jpg" alt="Chicago theatre">
			<h2>The Chicago Theatre</h2>
			<p>Within the heart of downtown Chicago, The Chicago Theatre will provide a beautiful conference venue.</p>
		</article>
	</main>

	<footer>
		<span class="copyright-notice">&copy; Styles Conference</span>

		<nav class="navigation">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Speakers</a></li>
				<li><a href="#">Schedule</a></li>
				<li><a href="#">Venue</a></li>
				<li><a href="#">Register</a></li>
			</ul>
		</nav>
	</footer>
</div>
