---
layout: layouts/assignment-11.njk
styles:
  - /styles/assignment-11/about-us.css
title: დავალება 11 - about us
---

<h1>იხილეთ ინფორმაცია ჩვენს შესახებ</h1>

<img src="/static/images/tf2-mercs.png" alt="About Us Picture" height="400">

<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dignissimos modi cupiditate alias odit
	praesentium veritatis sed ipsum nesciunt ratione nostrum, illum qui iste inventore vitae impedit quibusdam
	numquam velit molestias. Excepturi recusandae, sunt reprehenderit adipisci possimus reiciendis itaque, corporis
	ratione minus pariatur autem placeat! Repellendus corrupti impedit quo eum aut doloremque ipsum perspiciatis
	enim suscipit aliquid possimus in est reiciendis odio, distinctio officiis quae inventore fugit cumque. Amet,
	dolores ducimus. Odio enim consectetur similique nihil nisi iure officiis, pariatur facere corporis, voluptates
	nobis perspiciatis hic eius, quibusdam culpa fugit accusamus. Optio numquam ut minus placeat nulla nam at atque.
</p>
