---
layout: layouts/assignment-11.njk
tags: assignment
styles:
  - /styles/assignment-11/contact.css
title: დავალება 11 - contact
---

<main>
	<div>
		<pre>
მისამართი:
	საქართველო, ქ. თბილისი
ტელეფონი:
	0322 22 22 22
ელ-ფოსტა:
	email@email.com</pre>
	</div>
	<div></div>
</main>
