---
layout: layouts/assignment-11.njk
tags: assignment
styles:
  - /styles/assignment-11/home.css
title: დავალება 11
---

<h1>მოგესალმებით მთავარ გვერდზე</h1>

<p>იმისთვის რომ იხილოთ ინფორმაცია გუნდზე, ეწვიეთ გვერდს <a href="/assignments/11/about-us/">ჩვენს შესახებ</a></p>

<p>საკონტაქტო ინფორმაციისთვის ეწვიეთ <a href="/assignments/11/contact/">კონტაქტის გვერდს</a></p>
