---
layout: layouts/default.njk
styles:
  - /styles/contact.css
title: Contacts
---

<main>
	<div>
		<pre>
მისამართი:
	საქართველო, ქ. თბილისი
ტელეფონი:
	0322 22 22 22
ელ-ფოსტა:
	email@email.com</pre>
	</div>
	<div></div>
</main>
