---
layout: layouts/default.njk
permalink: /home.html
styles:
  - /styles/home.css
title: Home
---

<main>
	<h1>მოგესალმებით მთავარ გვერდზე</h1>

	<p>იმისთვის რომ იხილოთ ინფორმაცია გუნდზე, ეწვიეთ გვერდს <a href="/about-us/">ჩვენს შესახებ</a></p>

	<p>საკონტაქტო ინფორმაციისთვის ეწვიეთ <a href="/contact/">კონტაქტის გვერდს</a></p>
</main>
