---
layout: layouts/default.njk
styles:
  - /styles/main.css
scripts:
  - /scripts/main.js
title: Home
---

<main>
	<video controls loop height="720" id="holyshit">
		<source
			src="/videos/Rick Astley - Never Gonna Give You Up (Official Video) (4K Remaster) [dQw4w9WgXcQ].mp4"
			type="video/mp4"
		>
	</video>
</main>
