<nav class="main-nav">
	<a href="/">მთავარი გვერდი</a>
	<div class="assignments">
		<span>დავალებები:</span>
		<ul>
			{% for assignment in collections.assignment | sort(false, false, "data.title") %}
			<li><a href="{{ assignment.url }}">{{ assignment.data['assignment-id'] }}</a></li>
			{% endfor %}
		</ul>
	</div>
</nav>
